@use 'src/styles/vars';

.togglebutton{
    display: flex ;
    justify-content: center;
    width: 80%;
    padding: vars.$gutter;
    margin-top: vars.$gutter;
    background: none;
    color: vars.$white;
    border: 2px solid vars.$white;
    border-radius: 4px;
    transition: color .7s ease-in-out, box-shadow .7s ease-in-out;
        
        &:hover {
            box-shadow: inset 4000px 0 0 0 vars.$white;
            color: vars.$dark;
        }

}