@use 'src/styles/vars';

.togglecard{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    &-content{
        overflow: hidden;
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: vars.$gutter;
        text-align: center;  
        
        p{
            width: 100%;
            line-height: vars.$gutter*1.5;
            min-height: 600px;
        }

        
    }
}


.list{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: vars.$gutter;
    gap: vars.$gutter;

    &-title{
        font-size: larger;
    }

    &-items{
        display: flex;
        flex-direction: column;
        padding: vars.$gutter;
        gap:vars.$gutter;
    }
}

.togglecard-closed{
    display: none;

}

@media only screen and (min-width: 768px) {

    .togglecard{
        display: flex;
        flex-direction: column;
  
    }
}


@media only screen and (min-width: 1024px) {

    .togglecard{
        display: flex;
        flex-direction: column;
        
<<<<<<< HEAD
        &-content{  
            p{
                width: 80%;
                line-height: vars.$gutter*1.5;
                min-height: 550px;
            }
            
        }
       
    }
}

=======
        &-content{
            
            p{
                min-height: 600px;
            }
    
            
        }
    
    }
}

@media only screen and (min-width: 1024px) {

    .togglecard{
        display: flex;
        flex-direction: column;
        
        &-content{
            
            p{
                min-height: 450px;
            }
    
            
        }
    
    }
}
>>>>>>> 6d0dee4f30ee739313a8e1767e043b4f2696fdb3

@media only screen and (min-width: 1440px) {

    .togglecard{   
        &-content{  
            p{
                width: 70%;
                line-height: vars.$gutter*1.5;
                min-height: 450px;
            }    
        }
       
    }
}

@media only screen and (min-width: 2560px) {

    .togglecard{
        display: flex;
        flex-direction: column;
        
        &-content{  
            p{
                font-size: 1.8rem;
                width: 70%;
                line-height: vars.$gutter*2.5;
                min-height: 680px;
            }
            
        }
      
        &-content{
            
            p{
                min-height: 300px;
            }
    
            
        }
    
    }
}

@media only screen and (min-width: 1024px) {

    .togglecard{
        
        &-content{
            
            p{
                width: 100%;
                line-height: vars.$gutter*1.5;
                min-height: 410px;
            } 
        }
    
    }
}

@media only screen and (min-width: 1440px) {

    .togglecard{
        
        &-content{  
            p{
                width: 100%;
                line-height: vars.$gutter*1.5;
                min-height: 300px;
            }      
        }
    
    }
}