@use 'src/styles/vars';

.togglecard{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    &-content{
        overflow: hidden;
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: vars.$gutter;
        text-align: center;   
    }
}


.list{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: vars.$gutter;
    gap: vars.$gutter;

    &-title{
        font-size: larger;
    }

    &-items{
        display: flex;
        flex-direction: column;
        padding: vars.$gutter;
        gap:vars.$gutter;
    }
}

.togglecard-closed{
    display: none;

}

@media only screen and (min-width: 768px) {

    .togglecard{
        display: flex;
        flex-direction: column;
       
    
    }
}