@use 'reset';
@use 'vars';

@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-VariableFont_wght.ttf');
}


body {

  font-family: 'Jost', sans-serif;
  background-color: vars.$back;
  color: vars.$white;
  

}
