@use 'src/styles/vars';

.myexperiencebox{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: vars.$dark;
    border: 2px solid vars.$dark;
    border-radius: 10px;
    gap: vars.$gutter;
    text-align: center;
    padding: vars.$gutter;

    &-date{
        width:70%;
        text-transform:uppercase;
    }
    &-title{
        width:70%;

    }
    &-intro{
        width: 85%;
        line-height: vars.$gutter*1.3;
    }
    a:hover{
        color: vars.$back;
    }
    
}

@media only screen and (min-width: 768px) {

    .myexperiencebox{
        flex-direction: row;
        width: 40%;
        min-height: 350px;
        height: max-content;

    }

}

@media only screen and (min-width: 2560px) {

    .myexperiencebox{
        font-size: 1.8rem;

        &-intro{
            width: 85%;
            line-height: vars.$gutter*2.5;
        }
    }

}