@use 'src/styles/vars';

.mycard{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title{
        font-size: 50px;
        align-self: flex-start;
        padding: vars.$gutter*0.6;
        margin-left: vars.$gutter;
    }

    &-infos{
        width: 90%;
        background-color: vars.$dark;
        padding: vars.$gutter*0.5;
        margin: vars.$gutter;
        border-radius: 10px;
        line-height: vars.$gutter*1.5;

        &-textUp{
            padding: vars.$gutter*0.5;
            font-size: 0.9rem;
        }

        &-text{
            padding: vars.$gutter*0.5;
            font-size: 0.9rem;
        }
    }

    &-img{
        width: 70%;
        opacity: 0.9;

    }
}

@media only screen and (min-width: 768px) {

    .mycard{
    
        &-title{
            margin-left: vars.$gutter*1.5;
        }
        &-img{
            width: 40%;    
        }
    }

}

@media only screen and (min-width: 1024px) {

    .mycard{
    
        &-title{
            margin-left: vars.$gutter*2.5;
        }
        &-img{
            width: 30%;    
        }
    }
}

@media only screen and (min-width: 1440px) {

    .mycard{
    
        &-title{
            margin-left: vars.$gutter*4;
        }
        &-img{
            width: 25%;    
        }
    }
}