@use 'src/styles/vars';

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 90%;
    margin: vars.$gutter;
    padding-top: vars.$gutter*2;
    gap: vars.$gutter;

    &-title{
        font-size: 2rem;     
        padding: vars.$gutter*0.6;
        margin-left: vars.$gutter;
    }
    

    &-mail{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: vars.$gutter;
        padding: vars.$gutter*2;
        background-color: vars.$dark;
        border: 2px solid vars.$dark;
        border-radius: 10px;
        &-img{
            width: 50px;
        }
        &-title{
            font-size: 1.5rem;
            color: white;
        }

    }

    &-phone{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: vars.$gutter;
        padding: vars.$gutter*2;
        background-color: vars.$dark;
        border: 2px solid vars.$dark;
        border-radius: 10px;
        &-img{
            width: 50px;
        }
        &-title{
            font-size: 1.5rem;
            color: white;
        }

    }
}

@media only screen and (min-width: 768px) {
    .contact{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        &-title{
            display: flex;
            justify-content: center;
            width: 100%;
            padding: vars.$gutter;
        }
        &-mail{
            width: 45%;
        }
        &-phone{
            width: 45%;
        }
    }
}

@media only screen and (min-width: 2560px) {
    .contact{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        font-size: 1.8rem;

        &-title{
            font-size: 4.5rem;
        }
        &-mail{
            &-img{
                width: 70px;
            }
            &-title{
                font-size: 2rem;
                color: white;
            }
        }
        &-phone{
            &-img{
                width: 70px;
            }
            &-title{
                font-size: 2rem;
                color: white;
            }
        }
    }
}