@use 'src/styles/vars';

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 90%;
    padding: vars.$gutter;
    gap: vars.$gutter;
    background-color: vars.$dark;
    border: 2px solid vars.$dark;
    border-radius: 10px;

    &-mail{
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: vars.$gutter;
        &-img{
            width: 50px;
            background-color: white;
        }
        &-title{
            color: white;
        }

    }
}