@use 'src/styles/vars';

.footer{
    display: flex;
    width: 100%;
    padding: vars.$gutter;
    margin-top: vars.$gutter;
    justify-content: center;
    align-items:center;

    &-logo{
        width: 30px;
        margin: vars.$gutter;
        &:hover{
            color: vars.$yellow;
        }
    }

}

@media only screen and (min-width: 2560px) {

    .footer{
    
        &-logo{
            width: 60px;
        }
    
    }
    
}